<a href="https://colab.research.google.com/github/devparikh0506/bank-customer-churn-model/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [33]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [34]:
tf.__version__

'2.17.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [35]:
dataset = pd.read_csv('https://drive.google.com/uc?id=1wtEQ_lzSPfpuMGhH-s3jt3zoIVW7DEC3')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [36]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [37]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [38]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

From above informations we can say that the data looks clean

Let's prepare data for training

In [39]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [40]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [41]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [42]:
print(X)

[[1.0 0.0 0 ... 1 1 101348.88]
 [0.0 0.0 1 ... 0 1 112542.58]
 [1.0 0.0 0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0 ... 0 1 42085.58]
 [0.0 1.0 0 ... 1 0 92888.52]
 [1.0 0.0 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [43]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [44]:
print(X)

[[1.0 0.0 1.0 ... 1 1 101348.88]
 [1.0 0.0 0.0 ... 0 1 112542.58]
 [1.0 0.0 1.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 1.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 1.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [46]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [47]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [48]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [49]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [50]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [51]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250  2s 1ms/step - accuracy: 0.6423 - loss: 0.6692
Epoch 2/100
250/250  0s 1ms/step - accuracy: 0.7959 - loss: 0.5055
Epoch 3/100
250/250  1s 1ms/step - accuracy: 0.7979 - loss: 0.4727
Epoch 4/100
250/250  1s 1ms/step - accuracy: 0.8120 - loss: 0.4350
Epoch 5/100
250/250  1s 1ms/step - accuracy: 0.7977 - loss: 0.4474
Epoch 6/100
250/250  1s 1ms/step - accuracy: 0.8053 - loss: 0.4403
Epoch 7/100
250/250  0s 1ms/step - accuracy: 0.8074 - loss: 0.4233
Epoch 8/100
250/250  0s 2ms/step - accuracy: 0.8055 - loss: 0.4252
Epoch 9/100
250/250  0s 1ms/step - accuracy: 0.8153 - loss: 0.4203
Epoch 10/100
250/250  0s 1ms/step - accuracy: 0.8212 - loss: 0.4166
Epoch 11/100
250/250  1s 1ms/step - accuracy: 0.8347 - loss: 0.3951
Epoch 12/100
250/250  1s 1ms/step - accuracy: 0.8407 - loss: 0.3811
Epoch 13/100
250/250  0s 1ms/step - accuracy: 0.8520 - loss: 0.3663
Epoch 14/100
250/250  0s 1ms/step - accuracy: 0.8524 - loss: 0.3622
Epoch 15/100
250/250  1s 1ms/step - accuracy: 0.8571 - loss: 0.3530
Epoch 16/100
250/250  1s 1ms/step - accuracy: 0.8485 - loss: 0.3703
Epoch 17/100
250/250  1s 1ms/step - accuracy: 0.8535 - loss: 0.3519
Epoch 18/100
250/250  1s 2ms/step - accuracy: 0.8627 - loss: 0.3408
Epoch 19/100
250/250  1s 2ms/step - accuracy: 0.8528 - loss: 0.3555
Epoch 20/100
250/250  1s 2ms/step - accuracy: 0.8581 - loss: 0.3490
Epoch 21/100
250/250  1s 2ms/step - accuracy: 0.8540 - loss: 0.3501
Epoch 22/100
250/250  1s 3ms/step - accuracy: 0.8524 - loss: 0.3577
Epoch 23/100
250/250  1s 2ms/step - accuracy: 0.8564 - loss: 0.3533
Epoch 24/100
250/250  0s 1ms/step - accuracy: 0.8565 - loss: 0.3494
Epoch 25/100
250/250  1s 2ms/step - accuracy: 0.8578 - loss: 0.3385
Epoch 26/100
250/250  1s 1ms/step - accuracy: 0.8563 - loss: 0.3455
Epoch 27/100
250/250  1s 1ms/step - accuracy: 0.8537 - loss: 0.3513
Epoch 28/100
250/250  1s 2ms/step - accuracy: 0.8538 - loss: 0.3470
Epoch 29/100
250/250  0s 1ms/step - accuracy: 0.8559 - loss: 0.3441
Epoch 30/100
250/250  1s 2ms/step - accuracy: 0.8583 - loss: 0.3450
Epoch 31/100
250/250  0s 1ms/step - accuracy: 0.8569 - loss: 0.3477
Epoch 32/100
250/250  0s 1ms/step - accuracy: 0.8583 - loss: 0.3470
Epoch 33/100
250/250  0s 2ms/step - accuracy: 0.8624 - loss: 0.3358
Epoch 34/100
250/250  1s 1ms/step - accuracy: 0.8614 - loss: 0.3330
Epoch 35/100
250/250  0s 2ms/step - accuracy: 0.8575 - loss: 0.3458
Epoch 36/100
250/250  1s 1ms/step - accuracy: 0.8595 - loss: 0.3468
Epoch 37/100
250/250  0s 2ms/step - accuracy: 0.8609 - loss: 0.3422
Epoch 38/100
250/250  1s 1ms/step - accuracy: 0.8643 - loss: 0.3368
Epoch 39/100
250/250  1s 1ms/step - accuracy: 0.8560 - loss: 0.3431
Epoch 40/100
250/250  1s 1ms/step - accuracy: 0.8579 - loss: 0.3428
Epoch 41/100
250/250  1s 1ms/step - accuracy: 0.8591 - loss: 0.3405
Epoch 42/100
250/250  1s 3ms/step - accuracy: 0.8667 - loss: 0.3316
Epoch 43/100
250/250  1s 2ms/step - accuracy: 0.8627 - loss: 0.3363
Epoch 44/100
250/250  1s 2ms/step - accuracy: 0.8650 - loss: 0.3376
Epoch 45/100
250/250  1s 2ms/step - accuracy: 0.8553 - loss: 0.3461
Epoch 46/100
250/250  0s 1ms/step - accuracy: 0.8614 - loss: 0.3398
Epoch 47/100
250/250  1s 1ms/step - accuracy: 0.8662 - loss: 0.3304
Epoch 48/100
250/250  0s 1ms/step - accuracy: 0.8614 - loss: 0.3376
Epoch 49/100
250/250  1s 1ms/step - accuracy: 0.8593 - loss: 0.3482
Epoch 50/100
250/250  1s 1ms/step - accuracy: 0.8670 - loss: 0.3230
Epoch 51/100
250/250  1s 1ms/step - accuracy: 0.8600 - loss: 0.3408
Epoch 52/100
250/250  0s 1ms/step - accuracy: 0.8566 - loss: 0.3467
Epoch 53/100
250/250  1s 1ms/step - accuracy: 0.8563 - loss: 0.3442
Epoch 54/100
250/250  1s 1ms/step - accuracy: 0.8621 - loss: 0.3333
Epoch 55/100
250/250  1s 1ms/step - accuracy: 0.8599 - loss: 0.3371
Epoch 56/100
250/250  0s 2ms/step - accuracy: 0.8688 - loss: 0.3274
Epoch 57/100
250/250  1s 1ms/step - accuracy: 0.8623 - loss: 0.3300
Epoch 58/100
250/250  0s 2ms/step - accuracy: 0.8639 - loss: 0.3381
Epoch 59/100
250/250  1s 1ms/step - accuracy: 0.8677 - loss: 0.3283
Epoch 60/100
250/250  0s 1ms/step - accuracy: 0.8660 - loss: 0.3363
Epoch 61/100
250/250  1s 1ms/step - accuracy: 0.8629 - loss: 0.3365
Epoch 62/100
250/250  1s 1ms/step - accuracy: 0.8692 - loss: 0.3281
Epoch 63/100
250/250  1s 2ms/step - accuracy: 0.8578 - loss: 0.3388
Epoch 64/100
250/250  1s 2ms/step - accuracy: 0.8625 - loss: 0.3338
Epoch 65/100
250/250  1s 2ms/step - accuracy: 0.8629 - loss: 0.3362
Epoch 66/100
250/250  1s 3ms/step - accuracy: 0.8647 - loss: 0.3376
Epoch 67/100
250/250  1s 2ms/step - accuracy: 0.8675 - loss: 0.3246
Epoch 68/100
250/250  1s 1ms/step - accuracy: 0.8676 - loss: 0.3245
Epoch 69/100
250/250  0s 1ms/step - accuracy: 0.8600 - loss: 0.3386
Epoch 70/100
250/250  1s 1ms/step - accuracy: 0.8567 - loss: 0.3439
Epoch 71/100
250/250  1s 2ms/step - accuracy: 0.8584 - loss: 0.3431
Epoch 72/100
250/250  0s 1ms/step - accuracy: 0.8648 - loss: 0.3308
Epoch 73/100
250/250  1s 2ms/step - accuracy: 0.8648 - loss: 0.3303
Epoch 74/100
250/250  1s 1ms/step - accuracy: 0.8613 - loss: 0.3376
Epoch 75/100
250/250  1s 2ms/step - accuracy: 0.8652 - loss: 0.3338
Epoch 76/100
250/250  1s 1ms/step - accuracy: 0.8641 - loss: 0.3299
Epoch 77/100
250/250  0s 1ms/step - accuracy: 0.8632 - loss: 0.3399
Epoch 78/100
250/250  1s 2ms/step - accuracy: 0.8604 - loss: 0.3357
Epoch 79/100
250/250  1s 1ms/step - accuracy: 0.8680 - loss: 0.3310
Epoch 80/100
250/250  1s 2ms/step - accuracy: 0.8635 - loss: 0.3357
Epoch 81/100
250/250  0s 1ms/step - accuracy: 0.8577 - loss: 0.3444
Epoch 82/100
250/250  1s 2ms/step - accuracy: 0.8645 - loss: 0.3290
Epoch 83/100
250/250  0s 1ms/step - accuracy: 0.8525 - loss: 0.3579
Epoch 84/100
250/250  1s 1ms/step - accuracy: 0.8573 - loss: 0.3465
Epoch 85/100
250/250  1s 2ms/step - accuracy: 0.8691 - loss: 0.3262
Epoch 86/100
250/250  1s 2ms/step - accuracy: 0.8672 - loss: 0.3263
Epoch 87/100
250/250  1s 2ms/step - accuracy: 0.8627 - loss: 0.3375
Epoch 88/100
246/250  0s 3ms/step - accuracy: 0.8664 - loss: 0.3303

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

Using our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say that the customer will leave?

**Solution**

In [ ]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

Therefore, our ANN model predicts that this customer stays in the bank!

### Predicting the Test set results

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)