<a href="https://colab.research.google.com/github/devparikh0506/bank-customer-churn-model/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.17.0'

## Data Preprocessing

### Importing the dataset

In [3]:
dataset = pd.read_csv('https://drive.google.com/uc?id=1wtEQ_lzSPfpuMGhH-s3jt3zoIVW7DEC3')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

From above informations we can say that the data looks clean

Let's prepare data for training

In [7]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [8]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [9]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [11]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [13]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Building the ANN

### Initializing the ANN

In [16]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [17]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [18]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [19]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Training the ANN

### Compiling the ANN

In [20]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [21]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250  8s 7ms/step - accuracy: 0.6447 - loss: 0.6623
Epoch 2/100
250/250  2s 7ms/step - accuracy: 0.7945 - loss: 0.4581
Epoch 3/100
250/250  1s 5ms/step - accuracy: 0.7857 - loss: 0.4451
Epoch 4/100
250/250  2s 3ms/step - accuracy: 0.7974 - loss: 0.4440
Epoch 5/100
250/250  1s 1ms/step - accuracy: 0.8056 - loss: 0.4384
Epoch 6/100
250/250  1s 1ms/step - accuracy: 0.8210 - loss: 0.4066
Epoch 7/100
250/250  1s 2ms/step - accuracy: 0.8182 - loss: 0.4086
Epoch 8/100
250/250  1s 1ms/step - accuracy: 0.8174 - loss: 0.4039
Epoch 9/100
250/250  0s 1ms/step - accuracy: 0.8190 - loss: 0.4093
Epoch 10/100
250/250  1s 1ms/step - accuracy: 0.8241 - loss: 0.3982
Epoch 11/100
250/250  1s 1ms/step - accuracy: 0.8241 - loss: 0.3976
Epoch 12/100
250/250  1s 1ms/step - accuracy: 0.8266 - loss: 0.3953
Epoch 13/100
250/250  1s 1ms/step - accuracy: 0.8212 - loss: 0.3973
Epoch 14/100
250/250  0s 1ms/step - accuracy: 0.8358 - loss: 0.3910
Epoch 15/100
250/250  1s 2ms/step - accuracy: 0.8321 - loss: 0.3859
Epoch 16/100
250/250  1s 1ms/step - accuracy: 0.8370 - loss: 0.3756
Epoch 17/100
250/250  1s 2ms/step - accuracy: 0.8465 - loss: 0.3626
Epoch 18/100
250/250  1s 2ms/step - accuracy: 0.8547 - loss: 0.3583
Epoch 19/100
250/250  1s 2ms/step - accuracy: 0.8558 - loss: 0.3423
Epoch 20/100
250/250  1s 2ms/step - accuracy: 0.8522 - loss: 0.3470
Epoch 21/100
250/250  1s 3ms/step - accuracy: 0.8542 - loss: 0.3562
Epoch 22/100
250/250  0s 2ms/step - accuracy: 0.8585 - loss: 0.3503
Epoch 23/100
250/250  1s 1ms/step - accuracy: 0.8605 - loss: 0.3426
Epoch 24/100
250/250  1s 1ms/step - accuracy: 0.8603 - loss: 0.3464
Epoch 25/100
250/250  1s 1ms/step - accuracy: 0.8631 - loss: 0.3389
Epoch 26/100
250/250  1s 1ms/step - accuracy: 0.8529 - loss: 0.3574
Epoch 27/100
250/250  0s 1ms/step - accuracy: 0.8607 - loss: 0.3418
Epoch 28/100
250/250  0s 2ms/step - accuracy: 0.8672 - loss: 0.3314
Epoch 29/100
250/250  1s 1ms/step - accuracy: 0.8661 - loss: 0.3455
Epoch 30/100
250/250  1s 1ms/step - accuracy: 0.8559 - loss: 0.3488
Epoch 31/100
250/250  1s 1ms/step - accuracy: 0.8664 - loss: 0.3342
Epoch 32/100
250/250  1s 1ms/step - accuracy: 0.8590 - loss: 0.3418
Epoch 33/100
250/250  0s 1ms/step - accuracy: 0.8611 - loss: 0.3406
Epoch 34/100
250/250  1s 1ms/step - accuracy: 0.8641 - loss: 0.3416
Epoch 35/100
250/250  0s 1ms/step - accuracy: 0.8671 - loss: 0.3328
Epoch 36/100
250/250  1s 1ms/step - accuracy: 0.8565 - loss: 0.3471
Epoch 37/100
250/250  0s 2ms/step - accuracy: 0.8635 - loss: 0.3313
Epoch 38/100
250/250  0s 1ms/step - accuracy: 0.8673 - loss: 0.3347
Epoch 39/100
250/250  0s 1ms/step - accuracy: 0.8686 - loss: 0.3331
Epoch 40/100
250/250  1s 1ms/step - accuracy: 0.8568 - loss: 0.3421
Epoch 41/100
250/250  0s 2ms/step - accuracy: 0.8639 - loss: 0.3340
Epoch 42/100
250/250  1s 3ms/step - accuracy: 0.8588 - loss: 0.3444
Epoch 43/100
250/250  1s 2ms/step - accuracy: 0.8613 - loss: 0.3399
Epoch 44/100
250/250  1s 2ms/step - accuracy: 0.8596 - loss: 0.3489
Epoch 45/100
250/250  1s 2ms/step - accuracy: 0.8599 - loss: 0.3436
Epoch 46/100
250/250  1s 2ms/step - accuracy: 0.8654 - loss: 0.3228
Epoch 47/100
250/250  1s 2ms/step - accuracy: 0.8634 - loss: 0.3330
Epoch 48/100
250/250  0s 1ms/step - accuracy: 0.8681 - loss: 0.3277
Epoch 49/100
250/250  0s 1ms/step - accuracy: 0.8604 - loss: 0.3416
Epoch 50/100
250/250  0s 1ms/step - accuracy: 0.8624 - loss: 0.3272
Epoch 51/100
250/250  0s 2ms/step - accuracy: 0.8680 - loss: 0.3296
Epoch 52/100
250/250  0s 1ms/step - accuracy: 0.8659 - loss: 0.3266
Epoch 53/100
250/250  0s 1ms/step - accuracy: 0.8595 - loss: 0.3351
Epoch 54/100
250/250  1s 1ms/step - accuracy: 0.8619 - loss: 0.3410
Epoch 55/100
250/250  0s 2ms/step - accuracy: 0.8680 - loss: 0.3274
Epoch 56/100
250/250  0s 1ms/step - accuracy: 0.8648 - loss: 0.3337
Epoch 57/100
250/250  1s 2ms/step - accuracy: 0.8699 - loss: 0.3208
Epoch 58/100
250/250  1s 1ms/step - accuracy: 0.8634 - loss: 0.3314
Epoch 59/100
250/250  1s 1ms/step - accuracy: 0.8622 - loss: 0.3314
Epoch 60/100
250/250  0s 1ms/step - accuracy: 0.8627 - loss: 0.3336
Epoch 61/100
250/250  0s 2ms/step - accuracy: 0.8610 - loss: 0.3401
Epoch 62/100
250/250  1s 1ms/step - accuracy: 0.8639 - loss: 0.3284
Epoch 63/100
250/250  1s 1ms/step - accuracy: 0.8562 - loss: 0.3385
Epoch 64/100
250/250  1s 2ms/step - accuracy: 0.8630 - loss: 0.3340
Epoch 65/100
250/250  1s 1ms/step - accuracy: 0.8666 - loss: 0.3265
Epoch 66/100
250/250  1s 2ms/step - accuracy: 0.8676 - loss: 0.3238
Epoch 67/100
250/250  1s 2ms/step - accuracy: 0.8639 - loss: 0.3343
Epoch 68/100
250/250  1s 3ms/step - accuracy: 0.8700 - loss: 0.3250
Epoch 69/100
250/250  1s 2ms/step - accuracy: 0.8689 - loss: 0.3165
Epoch 70/100
250/250  1s 1ms/step - accuracy: 0.8638 - loss: 0.3299
Epoch 71/100
250/250  1s 2ms/step - accuracy: 0.8613 - loss: 0.3310
Epoch 72/100
250/250  1s 2ms/step - accuracy: 0.8617 - loss: 0.3372
Epoch 73/100
250/250  1s 1ms/step - accuracy: 0.8665 - loss: 0.3348
Epoch 74/100
250/250  0s 2ms/step - accuracy: 0.8639 - loss: 0.3284
Epoch 75/100
250/250  0s 1ms/step - accuracy: 0.8632 - loss: 0.3294
Epoch 76/100
250/250  0s 2ms/step - accuracy: 0.8673 - loss: 0.3267
Epoch 77/100
250/250  0s 1ms/step - accuracy: 0.8675 - loss: 0.3235
Epoch 78/100
250/250  1s 2ms/step - accuracy: 0.8648 - loss: 0.3275
Epoch 79/100
250/250  0s 2ms/step - accuracy: 0.8660 - loss: 0.3320
Epoch 80/100
250/250  1s 1ms/step - accuracy: 0.8635 - loss: 0.3373
Epoch 81/100
250/250  0s 1ms/step - accuracy: 0.8663 - loss: 0.3313
Epoch 82/100
250/250  1s 1ms/step - accuracy: 0.8734 - loss: 0.3249
Epoch 83/100
250/250  1s 1ms/step - accuracy: 0.8672 - loss: 0.3291
Epoch 84/100
250/250  1s 1ms/step - accuracy: 0.8634 - loss: 0.3353
Epoch 85/100
250/250  0s 1ms/step - accuracy: 0.8677 - loss: 0.3309
Epoch 86/100
250/250  0s 1ms/step - accuracy: 0.8615 - loss: 0.3361
Epoch 87/100
250/250  1s 1ms/step - accuracy: 0.8647 - loss: 0.3241
Epoch 88/100
250/250  1s 2ms/step - accuracy: 0.8633 - loss: 0.3361
Epoch 89/100
250/250  1s 2ms/step - accuracy: 0.8719 - loss: 0.3235
Epoch 90/100
250/250  1s 2ms/step - accuracy: 0.8610 - loss: 0.3324
Epoch 91/100
250/250  1s 2ms/step - accuracy: 0.8711 - loss: 0.3265
Epoch 92/100
250/250  0s 1ms/step - accuracy: 0.8658 - loss: 0.3290
Epoch 93/100
250/250  1s 1ms/step - accuracy: 0.8673 - loss: 0.3269
Epoch 94/100
250/250  1s 1ms/step - accuracy: 0.8637 - loss: 0.3325
Epoch 95/100
250/250  1s 1ms/step - accuracy: 0.8652 - loss: 0.3394
Epoch 96/100
250/250  1s 1ms/step - accuracy: 0.8636 - loss: 0.3386
Epoch 97/100
250/250  0s 1ms/step - accuracy: 0.8681 - loss: 0.3254
Epoch 98/100
250/250  1s 1ms/step - accuracy: 0.8716 - loss: 0.3231
Epoch 99/100
250/250  1s 1ms/step - accuracy: 0.8670 - loss: 0.3344
Epoch 100/100
250/250  1s 1ms/step - accuracy: 0.8685 - loss: 0.3241

## Making the predictions and evaluating the model

### Predicting the result of a single observation

Using our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say that the customer will leave?

**Solution**

In [22]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1  0s 54ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

### Predicting the Test set results

In [23]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63  0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1525   70]
 [ 201  204]]

0.8645